.logo{
    height: 250px;
}
.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    height:30px;
    margin: 5px;
}
.gal-aftermovie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    margin-top: 15px;
    display: flex;
    justify-content: right;
    align-items: left;
}
.icons{
    height: 30px;
    margin: 4px;
}
.gamecontainer{
    margin: 50px;
}